server:
  port: 8080
spring:
  profiles:
    #active: "prod"
    active: "default"
  config:
    import:
      - "application-prod.yaml"
      - "application-qa.yaml"
  application:
    name: departement
  datasource:
#    url: jdbc:h2:mem:depdb
     url: jdbc:mysql://localhost:3306/test?useSSL=false&serverTimezone=UTC
     username: root
     password: root
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  cloud:
    config:
      enabled: false
    discovery:
      enabled: false
  eureka:
    client:
      service-url:
        defaultZone: 'http://localhost:8761/eureka/'
management:
  endpoints:
    web:
      exposure:
        include: "*"
eureka:
  instance:
    prefer-ip-address: true

build:
  version: "1.0"

author:
  name: "Julien Mihai"
  email: "test@julien_test"
