server:
  port: 8081
spring:
  application:
    name: professeur-microservice
  datasource:
    url: jdbc:h2:mem:profdb
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  cloud:
    config:
      enabled: false
    discovery:
      enabled: true
    eureka:
      client:
        service-url:
          defaultZone: 'http://localhost:8761/eureka/'
management:
  endpoints:
    web:
      exposure:
        include: "*"
